/* ==UserStyle==
@name           DTRC: Github
@namespace      github.com/Yanrishatum/death-to-rounded-corners
@version        1.1.0
@description    Death to rounded corners! Github edition
@author         Yanrishatum
@preprocessor default
@var text borderRadius "Border Radius" 0px
==/UserStyle== */

@-moz-document domain("github.com") {
  /* Insert code here... */
  .Box, .btn,
  .markdown-body .highlight pre, .markdown-body pre, 
  .markdown-body code, .markdown-body tt,
  .form-control, .form-select,
  .select-menu-modal,
  .dropdown-menu,
  .social-count, .Box-row:last-of-type, .Box-row:first-of-type, .Box-header,
  .avatar, -avatar-user,
  .rounded-1,.rounded-2,.rounded-3,
  .tooltipped:after,
  .issues-reset-query-icon,
  .filter-item,
  .delete-topic-button, .topic-tag, .topic-tag-action,
  .file-header, .tabnav-tab, .file, .branch-name,
  .label, .Label,
  .user-status-circle-badge,
  .graph-before-activity-overview
  {
    border-radius: var(--borderRadius) !important;
  }
  .user-status-circle-badge-container {
    margin-bottom: 2px;
  }
  .calendar-graph rect.day {
    rx: 0;
    ry: 0;
  }
}
